body {
    background-image: url(../images/denys-nevozhai-280035-unsplash.jpg);
    display: flex;
    position: relative;
    height: 100%;
    padding-bottom: 100px;
}

/* All of our content is in here */
.SW-container {
    max-width: 80%;
    height: 100%;
    margin: auto;
}

/* container class; bootstrap;  */
.row {
    margin: 0px;
}

/* Holds the initial user input; bootstrap */
.jumbotron {
    background: rgba(255, 255, 255, 0.804);
    text-align: center;
    width: 100%;
    margin: 0px;
    margin-bottom: 20px;
}

/* LOADING SCREEN CSS ANIMATION HERE! */
/* Commented out for now because it's kind of annoying to look at after a while. */ */
/* .loading-sun {
    margin: auto;
    margin-top: 15px;
    border-top: 16px solid gold;
    border-right: 16px solid yellow;
    border-bottom: 16px solid gold;
    border-left: 16px solid yellow;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
} */


.sorry-message {
    background: rgba(255, 255, 255, 0.804);
    margin: 10px;
    text-align: center;
    padding: 40px;
}

/* class for all the cards; bootstrap */
.card {
    background: rgba(255, 255, 255, 0.804);
    margin: 10px;
}

.card-img-top {
    background-size: contain;
    max-height: 250px; 
}

/* Holds the button for "plan my schedule" */
#plan-btn-container {
    background: rgba(255, 255, 255, 0.804);
    justify-content: center;
    padding: 10px;
    margin: auto;
    margin: 20px;
}

#get-itinerary-btn {
    width: 100%;
}

/* Itinerary container; bootstrap */
.list-group{
    width:100%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.804);
}

/* container; holds day information and events/restaurants for that day */
.schedule-box {
    margin: 0px 10px;
}

.events{
    border-bottom: 0px;
}

.yelp-pic{
    width: 130px;
    height: 100px;
    float: left;
    margin-right: 10px;
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;

}

/* in each list group; holds date information; holds event information; bootstrap */
.list-group-item {
    background: white;
}

/* .img-thumbnail {
    width: 100px;
    float: left;
    margin-right: 10px;
} */

/* container; holds the day of the week and the calendar date */
.date-headlines {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

/* This is the reset button everywhere! */
.btn.btn-primary {
    float:right;
    background-color:#00fdc8;
    color: black;
    border-color: #00fdc8;
}

.btn.btn-primary:hover {
    background-color: gold;
    border-color: gold;
}

#footer {
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    background: rgba(255, 255, 255, 0.804);
    justify-content: center;
}

