body {
    background-image: url(../images/simon-rae-732820-unsplash.jpg);
    background-size: cover;
}

.SW-container {
    max-width: 80%;
    margin: auto;
}

.jumbotron {
    background: rgba(204, 204, 204, 0.5);


}